textarea {
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

#output {
    border: 1px black solid;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
    width: 80%;
}