@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');


body {
    margin: 0rem;
    background-color: #FEFCE8;
}

textarea {
    width: 80%;
    height: 10vh;
    display: block;
    margin: auto;
    padding: 1rem;
    background-color: #FEFCE8;
    font-family: 'Dancing Script', cursive;
    font-size: larger;
    border: solid;
    resize: none;
    border-radius: 10px;
    margin-top: -1rem;
}

textarea:focus{
    outline: none;
}

.center {
    max-width: 600px;
    margin: auto;
    margin-top: 3rem;
}


#output {
    border: 1px black solid;
    height: 10vh;
    padding: 1rem;
    max-width: 80%;
    margin: auto;
    font-family: 'Dancing Script', cursive;
    font-size: larger;
    border: solid;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.heading {
    margin: 0rem;
    padding: 0.01rem;
    background-color: #FACC15;
    border-top-right-radius: 4rem;
    font-family: 'Langar', cursive;
    font-size: x-large;
}

.heading h1 {
    display: block;
    text-align: center;
}

.btn-div {
    max-width: 600px;
    margin: 2.75rem
}

.btn {
    display: block;
    margin: auto;
    padding: 0.5rem 5rem;
    font-family: 'Langar', cursive;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 0, 0.842);
    border-radius: 50%;
    border-style: outset;
    color: #FACC15;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.head-output {
    font-size: large;
    margin: 3rem 0rem 1rem 2.6rem;
    font-family: 'Redressed', cursive;
}

.footer{
    margin: 0rem;
    padding: 0.01rem;
    background-color: #FACC15;
    border-bottom-left-radius: 4rem;
    font-family: 'Langar', cursive;
    text-align: center;
}
